<%= turbo_frame_tag "totals" do %>
  <div class="totals-list">
    <span>Total HT:</span>
    <strong><%= euros_from_cents(quote.total_excl_vat_cents) %></strong>
    <span>Total TVA:</span>
    <strong><%= euros_from_cents(quote.total_vat_cents) %></strong>
    <span>Total TTC:</span>
    <strong><%= euros_from_cents(quote.total_incl_vat_cents) %></strong>
  </div>
<% end %>
